{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>
    <link href="{% static 'quiz/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Quiz App</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

{% block header %}



{% endblock %}

<div class="container">
    {% block body %}

    {% endblock %}

</div>

<script src="{% static 'quiz/javascript/jquery.js' %}"></script>
<script src="{% static 'quiz/javascript/bootstrap.min.js' %}"></script>

</body>
</html>
